<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="card">
                <h5 class="card-header">ボウリングスコア管理サービス！</h5>
                <div class="card-body justify-content-center">
                   <table>
                        <tr>
                            <td class="w-25">メールアドレス</td>
                            <td class="w-75"><input type="text" class="w-100"></td>
                        </tr>
                        <tr>
                            <td>パスワード</td>
                            <td><input type="password" class="w-100"></td>
                        </tr>
                    </table>

                    <div class="text-center mt-3">
                        <button class="btn btn-primary">ログイン</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>